/*================article====================*/
.main-article {
  grid-row: 1 / span 3;
  flex-direction: column;
  padding: 20px 10px;
}

.article-slider-container {
  position: relative;
  margin-bottom: 2rem;
}
.slide-number{
  color: var(--dark-color);
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.prev-btn,
.next-btn {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: var(--green-color);
  font-weight: bold;
  font-size: 30px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
.next-btn{
  right: 0;
  border-radius: 3px 0 0 3px;
}
.next-btn:hover,
.prev-btn:hover{
  background-color: rgba(0, 0, 0, 0.8);
}

.thumbnail-row{
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center;
}

.thumbnail-column{
  height: 100%;
}

.thumbnail-img {
  cursor: pointer;
  opacity: 0.6;
  transition: all 0.3s;
  height: 75px;
  max-height: inherit;
  width: 100%;
}
.active,
.thumbnail-img:hover {
  opacity: 1;
}

.article-slider img {
  height: 35vw;
  max-height: 40vw;
  border-radius: 2px;
  max-width: cover;
}

.main-article p {
  margin: 20px 0;
}

.main-article-footer {
  flex-direction: column;
  align-items: start;
  padding: 0.5rem;
}
.main-article-footer_details {
  flex-direction: column;
  align-items: start;
}
.main-article-footer_icons {
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
}
.main-article-footer_icons a:hover {
  color: var(--green-color);
}

@media (min-width: 768px) {
  .main-article-footer {
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
  }
  .main-article-footer_details {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
  }
}

/*================comments====================*/
.comments-container {
  width: 100%;
  margin: 20px 0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.comments-container .comments {
  flex-direction: column;
  padding: 20px;
  border-radius: 5px;
  color: var(--green-color);
}

.comments-form {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.comments-form .user-info {
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.comment-btn {
  width: 100%;
  margin-bottom: 0.5rem;
  text-align: center;
}

.comment {
  padding: 15px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 20px 15px -15px;
  margin-bottom: 10px;
}

.comment p {
  margin: 10px 0 0 0;
}

.comment-reply {
  width: 95%;
  align-self: end;
  box-shadow: var(--green-color) 0px 25px 20px -20px !important;
}

.admin-info {
  align-items: center;
  justify-content: start;
  column-gap: 5px;
}

.admin-info img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 0;
}
.user-info input {
  padding: 0.4rem 0.5rem;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.comments-form textarea {
  margin: 0 !important;
}

@media (min-width: 768px) {
  .comments-form .user-info {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
  }
  .comment-btn {
    margin-bottom: 0;
    width: auto;
  }
}
